ul {
    border-radius: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 16px 26px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: darkgreen;
}

.active {
    background-color: green;
}


body {
    margin: 0;

    font-size: larger;
    font-family: Inter, sans-serif;
    background-color: snow;
}

div {
    width: 60em;
    margin: 0 auto;
    background-color: whitesmoke;
}