ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}



li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: green;
}


body {
    font-size: larger;
    width: 45em;
    margin: 0 auto;
    font-family: Sen, sans-serif;
    background-color: snow;
}