ul {
    border-radius: 34px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 26px 36px;
    text-decoration: none;
    font-size: 28px;
}

li a:hover:not(.active) {
    background-color: darkgreen;
}

.active {
    background-color: green;
}


body {
    font-size: large;
    font-family: Inter, sans-serif;
    color: snow;
    background-color: #142027;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.yellow {
    background: #FBC823;
}

.red {
    background: #F98062;
}

.blue {
    background: #73B7BF;
}

.dark-text {
    color: #142027;
}